// Definición de variables
$color-primario: rgb(28, 22, 14);
$color-secundario: rgb(52, 40, 26);
$color-font: azure;
$color-titulo: beige;
$color-link: beige;
$tamano-fuente: larger;
$tamano-col-footer: 350px;
$tamano-casilla-chess1: 40px;
$tamano-casilla-chess2: 50px;
$tamano-casilla-chess3: 75px;
$espaciado: 20px;
$body-with: 800px;

.body {
  font-family: NadaFonts;
  src: url(../fonts/Poppins-Regular.ttf);
  color: $color-font;
  font-size: $tamano-fuente;

  background-color: $color-primario;

  padding: 40px 0px 20px 0px;
}

.h2 {
  padding-top: 30px;
}

.h3 {
  padding-top: 30px;
}

.h1:hover {
  color: #d2a679;
}

.logo {
  margin: 5px;
  border: 5px solid #d8e6c6;
  border-radius: 15px;
  filter: contrast(1.5) brightness(1.2);
  transition: transform 0.3s ease-in-out;
}
.logo:hover {
  transform: scale(1.1); 
  border: 5px solid #d2a679;  
}

.section {
  padding: 20px 25px 20px 25px;
}

.col li {
  list-style: none;
}

.afooter {
  color: $color-font;
  text-decoration: none;
}

.afooter:hover {
  color: #d2a679;
}

.imgGaleria {
  transition: opacity 0.3s ease, filter 0.3s ease;
  margin: 15px;
}

.imgGaleria:hover {
  opacity: 0.8;
  filter: blur(2px);
}

.imgNada {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgNada img {
  height: auto;
}

.videoNada {
  text-align: center;
}

/* Tablero de Ajedrez */

.tableroAjedrez {
  display: grid;
  grid-template-columns: repeat(8, $tamano-casilla-chess3);
  grid-template-rows: repeat(8, $tamano-casilla-chess3);

  margin: auto;
}

.tableroAjedrez .celda {
  position: relative;
}

.blanca {
  background-color: white;
}

.negra {
  background-color: black;
}

.piezaAjedrez:hover {
  opacity: 1;
}

/* Carousel */
.carousel-inner {
  width: 80%;
  height: 300px;
}
.carousel-item img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

/* Collapse */
.card-header h5 {
  background-color: $color-secundario;
}

.card-body {
  background-color: $color-secundario;
}

.card {
  background-color: $color-secundario;
}

.card-body p {
  color: $color-font;
}

.card-header .btn-link {
  color: rgb(141, 135, 135);
  text-decoration: none;
}

.card-header .btn-link:hover {
  color: rgb(150, 3, 3);
  text-decoration: none;
}

/* Formulario de Cntacto */
.formContacto {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  width: $body-with / 1.5;
  margin-left: auto;
  margin-right: auto;

  padding: 50px 0px 50px 0px;
}

.iframes {
  text-align: center;
  margin: 10px 0px 20px 0px;
}

.imagenParrafo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.textoAlrededorImagen {
  padding: 0px 10px 0px 10px;
}

/* Estilos para el botón flotante que lleva al principio */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  text-decoration: none;
  display: block;
}

@media (max-width: 575px) {
  .iframes {
    width: 90%;
    height: auto;
  }
  .alignH1Header {
    text-align: center;
  }
  .alignLogoHeader {
    text-align: center;
  }
  .tableroAjedrez {
    grid-template-columns: repeat(8, $tamano-casilla-chess1);
    grid-template-rows: repeat(8, $tamano-casilla-chess1);
    width: $tamano-casilla-chess1 * 8;
  }
  .celda {
    width: $tamano-casilla-chess1;
    height: $tamano-casilla-chess1;
  }
  .piezaAjedrez {
    width: $tamano-casilla-chess1;
    height: $tamano-casilla-chess1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}

@media (min-width: 576px) {
  .iframes {
    width: 500px;
    height: 500px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .alignH1Header {
    text-align: end;
  }
  .alignLogoHeader {
    text-align: start;
  }
  .tableroAjedrez {
    grid-template-columns: repeat(8, $tamano-casilla-chess2);
    grid-template-rows: repeat(8, $tamano-casilla-chess2);
    width: $tamano-casilla-chess2 * 8;
  }
  .celda {
    width: $tamano-casilla-chess2;
    height: $tamano-casilla-chess2;
  }
  .piezaAjedrez {
    width: $tamano-casilla-chess2;
    height: $tamano-casilla-chess2;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .alignH1Header {
    text-align: end;
  }
  .alignLogoHeader {
    text-align: start;
  }
  .tableroAjedrez {
    grid-template-columns: repeat(8, $tamano-casilla-chess2);
    grid-template-rows: repeat(8, $tamano-casilla-chess2);
    width: $tamano-casilla-chess2 * 8;
  }
  .celda {
    width: $tamano-casilla-chess2;
    height: $tamano-casilla-chess2;
  }
  .piezaAjedrez {
    width: $tamano-casilla-chess2;
    height: $tamano-casilla-chess2;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .alignH1Header {
    text-align: end;
  }
  .alignLogoHeader {
    text-align: start;
  }
  .tableroAjedrez {
    grid-template-columns: repeat(8, $tamano-casilla-chess3);
    grid-template-rows: repeat(8, $tamano-casilla-chess3);
    width: $tamano-casilla-chess3 * 8;
  }
  .celda {
    width: $tamano-casilla-chess3;
    height: $tamano-casilla-chess3;
  }
  .piezaAjedrez {
    width: $tamano-casilla-chess3;
    height: $tamano-casilla-chess3;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}

@media (min-width: 1200px) {
  .alignH1Header {
    text-align: end;
  }
  .alignLogoHeader {
    text-align: start;
  }
  .tableroAjedrez {
    grid-template-columns: repeat(8, $tamano-casilla-chess3);
    grid-template-rows: repeat(8, $tamano-casilla-chess3);
    width: $tamano-casilla-chess3 * 8;
  }
  .celda {
    width: $tamano-casilla-chess3;
    height: $tamano-casilla-chess3;
  }
  .piezaAjedrez {
    width: $tamano-casilla-chess3;
    height: $tamano-casilla-chess3;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}
